{# templates/users.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    {% block content %}
        <p><a href="{{ path('admin_user') }}" class="btn btn-success">make new user</a></p>
        <table class="table">
            <tr>
                <th>id</th>
                <th>email</th>
                <th>username</th>
                <th>status</th>
                <th>roles</th>
                <th>actions</th>
            </tr>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.username }}</td>
                    <td>
                        {% if user.isActive %}
                            <i class="fas fa-lock-open"></i>
                        {% else %}
                            <i class="fas fa-lock"></i>
                        {% endif %}
                    </td>
                    <td>
                        <ul>
                            {% for role in user.roles %}
                                <li>{{ role }}</li>
                            {%  endfor %}
                        </ul>
                    </td>
                    <td>
                        <a href="{{ path('admin_user_edit', {'id': user.id}) }}"><i class="fas fa-user-edit"></i></a>
                        <a href="{{ path('admin_password_change', {'id': user.id}) }}"><i class="fas fa-key"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endblock %}
{% endblock %}